    {{#if lsVisible}}
    <div class="block_info glob">
        <div class="row">
            <div class="col-sm" style="font-size: 20px;padding-bottom: 10px;">
                    <div>{{openTemp}} °C</div>
                    {{!-- <img src="thermometer.svg" alt=""> --}}
                    <div class="type">{{openType}}</div>
            </div>
            <div class="col-sm block_info_pr">
                    <div class="row">
                        <div class="col-sm">
                                <div>Wind: {{openWind}} м/c</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                                <div>Humidity: {{openHumidity}}%</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                                <div>Pressure: {{openPressure}}мм рт.ст</div>
                        </div>
                    </div>
            </div>
            
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="col-sm">
            <div class="block_info">
                {{!-- <img src="thermometer.svg" alt=""> --}}
                <div style="font-size: 30px;">{{openType}}</div>
            </div>
        </div>
    </div>
    {{/if}}                      