<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anyweatherdotcom</title>
    <!-- здесь короч статика стили например -->

    {{!-- <link rel="stylesheet" href="watch.css"> --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

</head>

<body>

    <div class="container-fluid">
        
        <div class="row">
            <nav class="navbar" style="background-color: #f5f5f500;">
                <div class="container-lg">
                    <a class="navbar-brand">
                        <img class="logo" src="logo.png" alt="" >
                    </a>
                    
                    <form action="/" method="POST" class="d-flex">
                        <input class="form-control me-2" type="text" list="datalistOptions" id="city" required placeholder="Name of city" name="city">
                        <button class="btn btn-outline-success" type="submit">Show weather</button>
                    </form>

                    
                </div>
            </nav>
                
        </div>
        <div class="container-lg">
            <div class="row">
                <div class="col-mg">
                        <div class="locate">{{citytoRender}}</div>
                        
                            <time id="date" class="clocktext"></time>
                            <script src="watch.js"></script>
                        
                </div>
                
            </div>

            <div class="row content">
                <div class="col">
                    <img src="openweather.png" alt="" style="width: 120px;">
                    <div class="box-content">{{> weaterGlob}}</div>
                </div>
                <div class="col">
                    <img class="mailLogo" src="mail_ru.png" alt="" style="width: 120px;margin-bottom: 25px;">
                    <div class="box-content">{{> weatherMail}}</div>
                </div>
                <div class="col">
                    <img src="yandex.png" alt="" style="width: 100px; margin-bottom: 15px">
                    <div class="box-content">{{> weatherYan}}</div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm">
                    
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                            <label class="btn btn-outline-secondary diogramaOne" for="btnradio1">common info</label>

                            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn btn-outline-secondary diogramaEx" for="btnradio2">ex. diogram</label>
                            
                            
                        </div>
                    
                </div>    

            </div>
            
        </div>

        <div class="dayofWeek1 hide">{{dayofWeek1}}</div>
        <div class="dayofWeek2 hide">{{dayofWeek2}}</div>
        <div class="dayofWeek3 hide">{{dayofWeek3}}</div>
        <div class="dayofWeek4 hide">{{dayofWeek4}}</div>
        <div class="dayofWeek5 hide">{{dayofWeek5}}</div>
        <div class="dayofWeek6 hide">{{dayofWeek6}}</div>
        <div class="dayofWeek7 hide">{{dayofWeek7}}</div>
        <div class="dayofWeek8 hide">{{dayofWeek8}}</div>

        <div class="tempofDay1 hide">{{tempofDay1}}</div>
        <div class="tempofDay2 hide">{{tempofDay2}}</div>
        <div class="tempofDay3 hide">{{tempofDay3}}</div>
        <div class="tempofDay4 hide">{{tempofDay4}}</div>
        <div class="tempofDay5 hide">{{tempofDay5}}</div>
        <div class="tempofDay6 hide">{{tempofDay6}}</div>
        <div class="tempofDay7 hide">{{tempofDay7}}</div>
        <div class="tempofDay8 hide">{{tempofNihgt1}}</div>
        <div class="tempofDay9 hide">{{tempofNihgt2}}</div>
        <div class="tempofDay10 hide">{{tempofNihgt3}}</div>
        <div class="tempofDay11 hide">{{tempofNihgt4}}</div>
        <div class="tempofDay12 hide">{{tempofNihgt5}}</div>
        <div class="tempofDay13 hide">{{tempofNihgt6}}</div>
        <div class="tempofDay14 hide">{{tempofNihgt7}}</div>


        <div class="opentempofDay1 hide">{{opentempofWeek1}}</div>
        <div class="opentempofDay2 hide">{{opentempofWeek2}}</div>
        <div class="opentempofDay3 hide">{{opentempofWeek3}}</div>
        <div class="opentempofDay4 hide">{{opentempofWeek4}}</div>
        <div class="opentempofDay5 hide">{{opentempofWeek5}}</div>
        <div class="opentempofDay6 hide">{{opentempofWeek6}}</div>
        <div class="opentempofDay7 hide">{{opentempofWeek7}}</div>
        <div class="opentempofDay8 hide">{{opentempofNight1}}</div>
        <div class="opentempofDay9 hide">{{opentempofNight2}}</div>
        <div class="opentempofDay10 hide">{{opentempofNight3}}</div>
        <div class="opentempofDay11 hide">{{opentempofNight4}}</div>
        <div class="opentempofDay12 hide">{{opentempofNight5}}</div>
        <div class="opentempofDay13 hide">{{opentempofNight6}}</div>
        <div class="opentempofDay14 hide">{{opentempofNight7}}</div>


        <div class="mailtempofDay1 hide">{{mailtempofDay1}}</div> 
        <div class="mailtempofDay2 hide">{{mailtempofDay2}}</div>
        <div class="mailtempofDay3 hide">{{mailtempofDay3}}</div> 
        <div class="mailtempofDay4 hide">{{mailtempofDay4}}</div>
        <div class="mailtempofDay5 hide">{{mailtempofDay5}}</div> 
        <div class="mailtempofDay6 hide">{{mailtempofDay6}}</div>
        <div class="mailtempofDay7 hide">{{mailtempofDay7}}</div> 
        <div class="mailtempofDay8 hide">{{mailtempoNight1}}</div>
        <div class="mailtempofDay9 hide">{{mailtempoNight2}}</div> 
        <div class="mailtempofDay10 hide">{{mailtempoNight3}}</div>
        <div class="mailtempofDay11 hide">{{mailtempoNight4}}</div> 
        <div class="mailtempofDay12 hide">{{mailtempoNight5}}</div>
        <div class="mailtempofDay13 hide">{{mailtempoNight6}}</div> 
        <div class="mailtempofDay14 hide">{{mailtempoNight7}}</div> 
        



        <div class="container-sm">
            <div class="row">
                <div class="col-md">

                    <div class="chart" id="chart" style="margin-top: 2vw; margin-bottom: 2vw"></div>

                </div>
            </div>
        </div>
        <img class="coolImage" src="" alt="" >
    
        <footer class="footer py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://vk.com/sv__gravity800" class="nav-link px-2 text-muted" target="_blank"><img src="https://img.icons8.com/ios/50/000000/vk-circled--v5.png"/></a></li>
            <li class="nav-item"><a href="https://t.me/vanya_telegram_" class="nav-link px-2 text-muted" target="_blank"><img src="https://img.icons8.com/ios/45/000000/telegram-app.png"/></a></li>
            <li class="nav-item"><a href="https://www.instagram.com/vanya.lysikov/" class="nav-link px-2 text-muted" target="_blank"><img src="https://img.icons8.com/ios/50/000000/instagram.png"/></a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2021 ShlepXlop, Inc</p>
        </footer>
    
    </div>
    <script src="giograma.js"></script>
    <script src="backStyle.js"></script>
</body>
</html>